[Desktop Entry]
Name=SafeStore
Comment=Experiment with local encrypted CryFS vaults
Exec=safestore-gui
Icon=drive-harddisk-symbolic
Terminal=false
Type=Application
Categories=Utility;Security;
Keywords=encryption;vault;cryfs;filesystem;
